
h1 {
	color: purple;
	font-family:copperplate gothic bold;
	font-size:30px;
	text-align: center;

}
h2 {
	color:pink;
	font-family:copperplate gothic bold;
	text-align: center;
	font-size:25px;

}

h3:hover {
	font-size:25px;
}

h1:hover {
	font-size:50px;
}
img {
	height: 250px;
	width: 30%;
	
}
div {
	color: #46BAD7;
	font-family: tahoma;
	text-align: center;
	font-size: 16px;
}